.checkout-page-body {
    font-family: 'Inter', sans-serif;
}

.checkout-main-container {
    margin: 0 auto;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Custom style for Stripe Element containers */
/* These classes will be applied to the containers in HTML */
.stripe-input-container {
    padding: 12px 16px;
    /* Match the py-3 px-4 of Tailwind inputs */
    border: 1px solid #e5e7eb;
    /* gray-200 */
    border-radius: 0.5rem;
    /* rounded-lg */
    background-color: transparent;
    transition: all 0.2s;
}

.stripe-input-container:focus-within {
    box-shadow: 0 0 0 2px rgba(19, 91, 236, 0.5);
    /* ring-primary */
    border-color: transparent;
}

.dark .stripe-input-container {
    border-color: #374151;
    /* gray-700 */
}